/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	font-weight: normal;
}
span {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-align: center;
}
a:link, a:visited, a:active {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

a:hover {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}

thead {
	font-weight: bold;
	font-size: 12px;
	background-image: url(border/tablehead.gif);
	text-align: center;
	color: #FFFFFF;
}
tbody {
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}
table {
	background-color: #000000;
	width: 100%;
}
.div1 {
	position: absolute;
	width: 17%;
	left: 3%;
}
.div2 {
	position: absolute;
	width: 17%;
	left: 22%;
}
.div3 {
	position: absolute;
	width: 17%;
	left: 41%;
}
.div4 {
	position: absolute;
	width: 17%;
	left: 60%;
}
.div5 {
	position: absolute;
	width: 17%;
	left: 79%;
}
p {
	text-align: center;
}
h6 {
	text-align: center;
}
